/* Generic */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Reusable */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* Header */

.page-header {
  background: #bca3ac;
  box-shadow: 1px 1px 3px 1px #010b13;
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  letter-spacing: 0.25em;
  text-shadow: 1px 2px 2px #ff0000c7;
  color: #010b13;
  margin: 0;
  padding: 0.5em 0;
}

.navigation__logo-accent {
  color: #fdfffc;
  text-shadow: 2px 3px 0px #010b13;
}
.navigation__link {
  text-decoration: none;
  color: #fdfffc;
  text-shadow: 2px 2px 2px #010b13;
  font-size: 1.5rem;
}

.navigation__link + .navigation__link {
  margin-left: 1em;
}

/* Hero */

.hero-wrapper {
  background: #d5c7bc;
  box-shadow: 1px 1px 3px 1px #010b13;
  padding: 1em 0;
}

.hero {
  box-shadow: 1px 1px 3px 1px #010b13;
  background: #bca3ac;
  border-radius: 1em;
}

.hero__title {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: #fdfffc;
}

.hero__title span {
  color: #010b13;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.hero__text {
  width: 50%;
  font-size: 1.5rem;
  color: #fdfffc;
  padding: 1em;
  text-align: center;
  align-self: center;
  line-height: 1.25em;
}

.hero__text-accent {
  color: #010b13;
}

.hero__image {
  border-radius: 5em;
  padding: 1em;
  width: 20%;
  height: 20%;
}

/* Main section */

.main-section-wrapper {
  background: #444554;
}

.main-section {
  color: #fdfffc;
}

.main-section__title {
  margin-top: 0;
  text-align: center;
  padding-top: 1em;
  letter-spacing: 0.25rem;
}

.article {
  box-shadow: 1px 1px 3px 1px #010b13;
  margin-bottom: 2em;
  border-radius: 1em;
}

.article + .article {
  margin-left: 2em;
}

.article__title {
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.article__title-accent {
  color: #010b13;
  text-shadow: 2px 1px 0px #ff0000c7;
}

.article__text {
  color: #fdfffc;
  padding: 1em;
  text-align: center;
  line-height: 1.25em;
}

/* Footer */

.page-footer {
  background: #010b13;
  padding: 0.75em 0;
}

.page-footer__text {
  margin: 0;
  color: #fdfffc;
  text-shadow: 2px 2px 2px #010b13;
}

.page-footer__link {
  text-decoration: none;
  color: #fdfffc;
  text-shadow: 2px 2px 2px #010b13;
}

.page-footer__link + .page-footer__link {
  margin-left: 1em;
}
